body {
  background-color: rgb(167, 167, 167);
  color: white; 
}
p {
  margin-top: 20px;   
  margin-bottom: 20px; 
  font-family: "Times New Roman",
}
a {
  background-color: rgb(175, 100, 212);
  color: red;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  background-color: gray;
}

h1 {
  font-size: 40px;
}
