body {
  background-color: rgb(167, 167, 167);
  color: white; 
}
p {
  margin-top: 20px;   
  margin-bottom: 20px; 
  font-family: "Times New Roman",
}
a {
  background-color: rgb(175, 100, 212);
  color: white;
  padding: 40px 60px;
  border-radius: 20px;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  background-color: gray;
}

h1 {
  font-size: 60px;
}

h3 {
  font-size: 40px;
}

h2 {
  font-size: 50px;
}
