body {
  background-color: rgb(167, 167, 167);
  color: white; 
}
a {
  background-color: rgb(175, 100, 212);
  color: white;
  padding: 50px 75px;
  cursor: pointer;
}

a:hover {
  background-color: gray;
}
